rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  match /campingsPending/{itemId} {
      allow read: if true;
      
      allow create: if isOwner(request.resource.data) &&
        isSignedIn();
        
      allow delete: if isSignedIn();
    }
    match /campings/{itemId} {
      allow read: if true;

     	allow create: if isSignedIn();

      allow update: if isSignedIn();

      allow delete: if isSignedIn();

    }
    
    match /admins/{itemId} {
      allow read: if isSignedIn();

      allow update: if isSignedIn();


    }
    // FUNCTIONS
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(prod) {
      return request.auth.uid == prod.owner;
    }
  }
}